body {
    background-color: #FFFFFF
}
.lists {
    display:flex;
    justify-content: space-between;
}
.header1 {
    display: flex;
    justify-content: space-around;
}
.navigation {
    width: 580px;
    margin-top: 80px;
}
.logo {
    padding-top: 50px;
    margin-left: 30px;
}
.li-list {
    font-size: 20px;
    color: #3D37F1;
    font-weight: bold;
    font-family: Lato;
}

.block-1 {
    margin-left: 132px;
    margin-top: 285px;
}
.title-1 {
    width: 600px;
    height: 203px;
    font-size: 70px;
    font-weight: 78px;
    font-weight: bold;
    font-family: 'lato';
}
.text-1 {
    width: 602px;
    height: 103px;
    font-size: 22px;
    color: #534D4D;
    font-family: roboto;
    font-weight: 'regular';
}
.button-1 {
    font-size: 23px;
    font-weight: 'regular';
    color: black;
}
.waveme {
    width: 263.67px;
    height: 76.77px;
    display: flex;
    padding-left: 25px;
}
.part-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.surati1 {
    max-height: 400px;
    height: 100%;
}

.block-2 {
    margin: 50px auto;
    width: 715px;
    text-align: center;
}
.title-2 {
    font-size: 20px;
    color: #3D37F1;
    font-family: 'Lato';
    font-weight: 'bold';
    font-style: normal;
    font-display: swap;
}
.title2 {
    font-size: 40px;
    margin-top: 17px;
    font-weight: 'regular';
    font-family: 'lato';
    color: #5A5454;
}
.text-2 {
    font-size: 18px;
    margin-top: 21px;
    font-weight: 'regular';
    font-family: 'roboto';
}

/*part-2 starts*/


.Block1 {
    margin: 50px auto;
    width: 715px;
    text-align: center;
}
.row-1 {
    width: 1169px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.block-title1 {
    width: 370px;
    height: 451px;
    font-size: 22px;
    font-family: 'Lato';
    font-weight: 'Regular';
    color: black;
    background-color: #FBBA77;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.block-text1 {
    width: 328px;
    height: 62px;
    font-size: 16px;
    font-weight: 'regular';
    font-family: 'roboto';
    justify-content: center;
    align-items: center;
    display: flex;
}
.block-title2 {
    width: 370px;
    height: 451px;
    font-size: 22px;
    font-family: 'Lato';
    font-weight: 'Regular';
    color: black;
    background-color: #41EAE3;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row-2 {
    width: 1169px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.block-text2 {
    width: 328px;
    height: 62px;
    font-size: 16px;
    font-weight: 'regular';
    font-family: 'roboto';
    justify-content: center;
    align-items: center;
    display: flex;
}